body, html {
	margin: auto;
	padding: 0px;
	background-color: white;
	font-family: "Avenir Next";
}

.container {
	max-width: 100%;
	min-width: 600px;
	margin: auto;

}

header {
	width: 100%;
	height: 100px;
	line-height: normal;
	background-color: #267030;
}

	header span {
		color: white;
		font-size: 25px;
		padding-left: 50px;
	}

.steps {
	max-width: 100%;
	height: 75px;
	background-color: #faf8df;
	border-bottom: 1px solid black;
}

footer {
	width: 100%;
	height: 75px;
	background-color: #267030;
}

.step1 {
	width: 33%;
	float: left;
	height: 500px;
	border-right:  1px solid black;

}

.step2 {
	width: 33%;
	float: left;
	height: 500px;
	border-right:  1px solid black;
}

.step3 {
	width: 33%;
	float: left;
	height: 500px;
}

.outputanddoc {
	width: 100%;
	height: 750px;
	background-color: white;
}

.documentation {
	width: 20%;
	float:  left;
	height: 750px;
	border-right: 1px solid black;
}

.outputbox {
	width: 79%;
	float: right;
	height: 750px;
}