body, html{
	margin: auto;
	padding: 0px;
	background-color: white;
	font-family: 'Lato', sans-serif;
	height: 750px;
	min-width: 1000px;
}
.header{
	width: 100%;
	height: 100px;
	background-color: #267030;
	position: relative;
	white-space: nowrap;
	vertical-align: center;
}
.footer{
	width: 100%;
	height: 75px;
	background-color: #267030;
	position: relative;
}
#headertitle{
	color: white;
	font-size: 50px;
	position: absolute;
	text-align: center;
	line-height: 25px;
	left: 100px;
	font-weight: 300;
}
#USFSLogo{
	position: absolute;
	left: 15px ;
	top:  10px;
	max-width: 75px;
	display: flex;
	justify-content: center;
}
/* Section 1: Choices */
.choicescontainer{
	width: 100%;
	height: 500px;
	background-color: #faf8df;
	min-width: 200px;
	position: relative;
	text-align: center;
	border-bottom: 5px solid black;
	display: flex;
	display: -webkit-flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}
.section{
	position: relative;
	width: 33%;
	height: 500px;
	border: 3px solid black;
	padding-left: 10%;
	padding-right: 10%;
	white-space: nowrap;
}

/*Step 1: Retrieval Type */
.statechoice{
	position: absolute;
	top: 60px;
	left: 30px;
	height: 40px;
}
#statetext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#statelist{
	position: absolute;
	top: 21px;
	left: 130px;
	width: 160px;
}
.timeframe{
	position: absolute;
	top: 100px;
	left: 30px;
	height: 50px;
}
#timeframetext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#timeframeform{
	position: absolute;
	top: 43px;
	left: 20px;
	font-size: 16px;
}
label{
	color: black;
	position: absolute;
}
.geographicalchoice{
	position: absolute;
	top: 180px;
	left: 30px;
	width: 85%;
	height: 100px;
}
#geographies{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
}
.geographicallist{
	position: absolute;
	width: 100%;
	height: 150px;
	top: 45px;
	background-color: white;
	border: 1px solid black;
}
.circlerequest{
	position: absolute;
	top: 400px;
	left: 30px;
	background-color: chocolate;
	width: 85%;
}
#circletitle{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
}
#circleform{
	position: absolute;
	top: 50px;
	left: 0px;
	width: 50%;
}
/* Step 2: Estimate Type */
.landtype{
	position: absolute;
	top: 60px;
	left: 30px;
	height: 40px;
}
#landtypetext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#landtypeform{
	position: absolute;
	top: 45px;
	left: 15px;
	font-size: 16px;
}
.estimationgroup{
	position: absolute;
	top: 75px;
	left: 30px;
	height: 40px;
}
#grouptext{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#numlist{
	position: absolute;
	top: 150px;
	left: 15px;
	width: 300px;
}
#denlist{
	position: absolute;
	top: 185px;
	left: 15px;
	width: 300px;
}
.estimatechoice{
	position: absolute;
	top: 310px;
	left: 30px;
	height: 40px;
}
#estimatechoicetext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#estimatelist{
	position: absolute;
	top: 21px;
	left: 80px;
	width: 236px;
}
.landdefn{
	position: absolute;
	top: 380px;
	left: 30px;
	height: 40px;
}
#landdefntext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#landdefnform{
	position: absolute;
	top: 45px;
	left: 15px;
	font-size: 16px;
}
/* Step 3: Page Variables */
.pagevariable{
	position: absolute;
	top: 60px;
	left: 30px;
	height: 40px;
}
#pagevariabletext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#pagelist{
	position: absolute;
	top: 21px;
	left: 150px;
	width: 180px;
}
.rowvariable{
	position: absolute;
	top: 100px;
	left: 30px;
	height: 40px;
}
#rowvariabletext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#rowlist{
	position: absolute;
	top: 21px;
	left: 150px;
	width: 180px;
}
.columnvariable{
	position: absolute;
	top: 140px;
	left: 30px;
	height: 40px;
}
#columnvariabletext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#columnlist{
	position: absolute;
	top: 21px;
	left: 150px;
	width: 180px;
}
.filters{
	position: absolute;
	top: 200px;
	left: 30px;
	height: 40px;
}
#filterstext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#filtersform{
	position: absolute;
	top: 45px;
	left: 15px;
	font-size: 16px;
}
.samplingerrors{
	position: absolute;
	top: 300px;
	left: 30px;
	height: 40px;
}
#samplingerrorstext{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 18px;
	color: black;
	white-space: nowrap;
}
#samplingerrorsform{
	position: absolute;
	top: 45px;
	left: 15px;
	font-size: 16px;
}

/* Section2: Output and documentation */
.outputcontainer{
	position: relative;
	width: 100%;
	height: 750px;
	background-color: white;
	border-top: 1px solid black;
	min-width: 200px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	text-align: center;
}
#documentation{
	width: 20%;
	float:  left;
	border-right: 1px solid black;
}
#tablebox{
	width: 80%;
	float: right;
}